name: Go Lint & Test Coverage

on: push

permissions:
  contents: read

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v5
        with:
          go-version: "1.25.4"
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8

  test:
    name: Run tests and collect coverage
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 2

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25.4"

      # Workaround for 'go: no such tool "covdata"'
      - name: Configure Go toolchain
        run: go env -w GOTOOLCHAIN=go1.25.1+auto

      - name: Install dependencies
        run: go mod download

      - name: Run tests
        run: go test ./... -coverprofile=coverage.txt

      - name: Upload results to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: ColonyPM/cpm-cli
          files: coverage.txt
